@model Apresentacao.Models.ConsentimentoTitularModel
@using Entidades.Entidade;
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>View</title>
</head>
<body>

<h4>ConsentimentoTitularModel</h4>
<hr />
<div class="row">

	<table class="table">
		<thead>
			<tr>
				<th></th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>
					@*@Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
				@Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
				@Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })*@
				</td>
			</tr>
			<tr>
				<td>@Html.LabelFor(m => m.C01.Id)</td>
				<td>@Html.LabelFor(m => m.C01.ItemAvaliacao)</td>
				<td>
					<select asp-for="C01.Resposta" asp-items="Html.GetEnumSelectList<Resposta>()"></select>
				</td>
				<td>
					<select asp-for="C01.GrauSeveridade" asp-items="Html.GetEnumSelectList<GrauSeveridade>()"></select>
				</td>
				<td>@Html.TextAreaFor(m => m.C01.ComentarioAvaliador)</td>
				<td>@Html.TextAreaFor(m => m.C01.Recomendacoes)</td>
			</tr>
			<tr>
				<td>@Html.LabelFor(m => m.C02.Id)</td>
				<td>@Html.LabelFor(m => m.C02.ItemAvaliacao)</td>
				<td>
					<select asp-for="C02.Resposta" asp-items="Html.GetEnumSelectList<Resposta>()"></select>
				</td>
				<td>
					<select asp-for="C02.GrauSeveridade" asp-items="Html.GetEnumSelectList<GrauSeveridade>()"></select>
				</td>
				<td>@Html.TextAreaFor(m => m.C02.ComentarioAvaliador)</td>
				<td>@Html.TextAreaFor(m => m.C02.Recomendacoes)</td>
			</tr>
			<tr>
				<td>@Html.LabelFor(m => m.C03.Id)</td>
				<td>@Html.LabelFor(m => m.C03.ItemAvaliacao)</td>
				<td>
					<select asp-for="C03.Resposta" asp-items="Html.GetEnumSelectList<Resposta>()"></select>
				</td>
				<td>
					<select asp-for="C03.GrauSeveridade" asp-items="Html.GetEnumSelectList<GrauSeveridade>()"></select>
				</td>
				<td>@Html.TextAreaFor(m => m.C03.ComentarioAvaliador)</td>
				<td>@Html.TextAreaFor(m => m.C03.Recomendacoes)</td>
			</tr>
			<tr>
				<td>@Html.LabelFor(m => m.C04.Id)</td>
				<td>@Html.LabelFor(m => m.C04.ItemAvaliacao)</td>
				<td>
					<select asp-for="C04.Resposta" asp-items="Html.GetEnumSelectList<Resposta>()"></select>
				</td>
				<td>
					<select asp-for="C04.GrauSeveridade" asp-items="Html.GetEnumSelectList<GrauSeveridade>()"></select>
				</td>
				<td>@Html.TextAreaFor(m => m.C04.ComentarioAvaliador)</td>
				<td>@Html.TextAreaFor(m => m.C04.Recomendacoes)</td>
			</tr>
			<tr>
				<td>@Html.LabelFor(m => m.C05.Id)</td>
				<td>@Html.LabelFor(m => m.C05.ItemAvaliacao)</td>
				<td>
					<select asp-for="C05.Resposta" asp-items="Html.GetEnumSelectList<Resposta>()"></select>
				</td>
				<td>
					<select asp-for="C05.GrauSeveridade" asp-items="Html.GetEnumSelectList<GrauSeveridade>()"></select>
				</td>
				<td>@Html.TextAreaFor(m => m.C05.ComentarioAvaliador)</td>
				<td>@Html.TextAreaFor(m => m.C05.Recomendacoes)</td>
			</tr>
			<tr>
				<td>@Html.LabelFor(m => m.C06.Id)</td>
				<td>@Html.LabelFor(m => m.C06.ItemAvaliacao)</td>
				<td>
					<select asp-for="C06.Resposta" asp-items="Html.GetEnumSelectList<Resposta>()"></select>
				</td>
				<td>
					<select asp-for="C06.GrauSeveridade" asp-items="Html.GetEnumSelectList<GrauSeveridade>()"></select>
				</td>
				<td>@Html.TextAreaFor(m => m.C06.ComentarioAvaliador)</td>
				<td>@Html.TextAreaFor(m => m.C06.Recomendacoes)</td>
			</tr>
			<tr>
				<td>@Html.LabelFor(m => m.C07.Id)</td>
				<td>@Html.LabelFor(m => m.C07.ItemAvaliacao)</td>
				<td>
					<select asp-for="C07.Resposta" asp-items="Html.GetEnumSelectList<Resposta>()"></select>
				</td>
				<td>
					<select asp-for="C07.GrauSeveridade" asp-items="Html.GetEnumSelectList<GrauSeveridade>()"></select>
				</td>
				<td>@Html.TextAreaFor(m => m.C07.ComentarioAvaliador)</td>
				<td>@Html.TextAreaFor(m => m.C07.Recomendacoes)</td>
			</tr>
			<tr>
				<td>@Html.LabelFor(m => m.C08.Id)</td>
				<td>@Html.LabelFor(m => m.C08.ItemAvaliacao)</td>
				<td>
					<select asp-for="C08.Resposta" asp-items="Html.GetEnumSelectList<Resposta>()"></select>
				</td>
				<td>
					<select asp-for="C08.GrauSeveridade" asp-items="Html.GetEnumSelectList<GrauSeveridade>()"></select>
				</td>
				<td>@Html.TextAreaFor(m => m.C08.ComentarioAvaliador)</td>
				<td>@Html.TextAreaFor(m => m.C08.Recomendacoes)</td>
			</tr>			
		</tbody>
	</table>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

</body>
</html>
