@model Apresentacao.Models.ChecklistModel; 

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Checklist</title>
</head>
<body>
	<table>
		<thead>

		</thead>
		@*<tbody>
			<tr>
				<td>@Model.a</td>
				<td>@Html.DropDownListFor(m => m.a, )</td>
			</tr>

			<tr>
				<td></td>
				<td> @Html.DropDownListFor(m => m.pergunta2, )</td>
			</tr>

			<tr>
				<td></td>
				<td>@Html.DropDownListFor(m => m.pergunta3, )</td>
			</tr>
			<tr>
				<td></td>
				<td>@Html.DropDownListFor(m => m.pergunta4, )</td>
			</tr>
			<tr>
				<td></td>
				<td>@Html.DropDownListFor(m => m.pergunta5, )</td>
			</tr>
			<tr>
				<td></td>
				<td>@Html.DropDownListFor(m => m.pergunta6, )</td>
			</tr>
			<tr>
				<td></td>
				<td>@Html.DropDownListFor(m => m.pergunta7, )</td>
			</tr>
			<tr>
				<td></td>
				<td>@Html.DropDownListFor(m => m.pergunta8, )</td>
			</tr>
			<tr>
				<td></td>
				<td>@Html.DropDownListFor(m => m.pergunta9, )</td>
			</tr>
			<tr>
				<td></td>
				<td>@Html.DropDownListFor(m => m.pergunta10, )</td>
			</tr>
			<tr>
				<td></td>
				<td>@Html.DropDownListFor(m => m.pergunta11, )</td>
			</tr>
			<tr>
				<td></td>
				<td>@Html.DropDownListFor(m => m.pergunta12, )</td>
			</tr>
			<tr>
				<td></td>
				<td>@Html.DropDownListFor(m => m.pergunta13, )</td>
			</tr>
			<tr>
				<td></td>
				<td>@Html.DropDownListFor(m => m.pergunta14, )</td>
			</tr>
			<tr>
				<td></td>
				<td>@Html.DropDownListFor(m => m.pergunta15, )</td>
			</tr>
		</tbody>*@
		<tfoot>

		</tfoot>
	</table>
</body>
</html>
